html{
    background-color: gray;
    background-image: url("logo.png");
  }
  
  .justificacion{
    align-items: center;
    display: flex;
    margin: auto;
  }

  #logo{
    display: flex;
    width: 150px ;
    border-radius: 30px;
    margin: auto;
    margin-bottom: 20px;
    
  }
  

  .entradas{
    font-family: 'Gilroy', sans-serif;
    background-color: #b19342;
    color: black;
      width: 300px;
      height: 50px;
      border-radius: 10px;
      display: flex;
      justify-content: center;
      text-align: center;
      align-items: center;
      margin: auto;
  }
  .titulos{
    font-weight: 80px;
    font-family: 'Gilroy', sans-serif;
    display: flex;
    margin: auto;
    margin-bottom: 20px;
    justify-content: center;
    text-align: center;
    align-items: center;
  }
  
  .form-logueo{
    width: 400px;
    background-color: black;
    padding: 30px;
    margin: auto;
    border-radius: 4px;
    font-family: 'Gilroy', sans-serif;
    color: white;
  }
  
  .boton{
    font-family: 'Gilroy', sans-serif;
    border-radius: 10px;
    background-color: black;
    color: white;
    cursor: cell;
    width: 300px;
    height: 50px;
    margin: auto;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
  }
  .tituloInferior{
    font-weight: 70px;
    font-family: 'Gilroy', sans-serif;
    display: flex;
    padding-top: 50px;
    padding-bottom: 10px;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: auto;
  }

  .boton:hover{
    transform: scale(1.3);
    transition: 0.3s ease-in-out;
    background-color: #EEF0E1;
    color: black;
  }